CWAcademyWebsiteTraining 2.docx
CWAcademyWebsiteTraining 2.pdf
CWAcademyWebsiteTraining.docx
CWAcademyWebsiteTraining.pdf
DEFINITION_reminders.txt
DEFINITION_student_table.txt
DEFINITION_user_master.txt
.DS_Store
DEFINITION_reminders.txt
DEFINITION_student_table.txt
DEFINITION_user_master.txt
README.md
RKSFUNCTION-check_data_against_user_master 2.php
RKSFUNCTION-check_data_against_user_master.php
RKSTEST_create_advisor_and_class_tables.php
RKSTEST_fix_advisor_service_semester 2.php
RKSTEST_fix_advisor_service_semester.php
RKSTEST_fix_student_table 2.php
RKSTEST_fix_student_table.php
RKSTEST_run_arbitrary_php_code 2.php
RKSTEST_run_arbitrary_php_code.php
RKSTEST_testTimeZoneAPI.php
RKSTEST_update_user_master_codes 2.php
RKSTEST_update_user_master_codes.php
RKSTEST_verify_timezones.php
RKSTEST_verify_timezones_v2.php
SurveySystemOverview.txt
ToDo.txt
apiExample.txt
chatGPT_api_key.txt
country_codes.txt
rks.txt
sedFix.php
sedscript.sh
/twentyseventeen_child/
twentyseventeen_child_css.txt
twentyseventeen_css.txt
twentyseventeen_css_new.txt
twentyseventeen_functions.txt
twentytwentyone.css


